@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Henny+Penny&family=Pattaya&family=Roboto:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 375px;
    position: relative;
    top: 0;
    left: 0;
}

header #flowers {
    width: 100%;
    height: 375px;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
}

header #logo {
    width: 120px;
    height: 150px;
    float: left;
    position: absolute;
    top: 30px;
    left: 30px;
}

.hamburger {
    display: none;
}

nav {
    height: 10vh;
    font-family: 'Cinzel Decorative', cursive;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
    font-size: 1.1em;
}

nav ul li a {
    color: #f2f2f2;
    width: 18vw;
    text-decoration: none;
    text-align: center;
    padding: 25px 15px;
    display: flex;
    justify-content: center;
    float: left;
}

nav ul li a:hover {
    color: #f2cc0f;
}

.wrapper:nth-child(odd) {
    width: 100%;
    background-color: #f2cc0f;
    padding: 15px 15px;
    border-bottom: 5px solid #0d0d0d;
}

.wrapper:nth-child(even) {
    width: 100%;
    background-color: #9453a6;
    padding: 15px 15px;
    border-bottom: 5px solid #0d0d0d;
}

.num5 {
    border-bottom: none !important;
}

.information {
    width: 65vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.information h2 {
    font-family: 'Henny Penny', cursive;
    font-weight: 600;
    text-align: center;
    font-size: 3rem;
    grid-column: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper:nth-child(odd) h2 {
    color: #691a72;
}

.wrapper:nth-child(even) h2 {
    color: #f2cc0f;
}

.paragraph {
    text-align: center;
    grid-column: 2 / 4;
}

.paragraph img {
    width: 10vw;
    margin-bottom: 20px;
}

footer {
    width: 100%;
    height: 60px;
    text-align: center;
    font-family: 'Roboto';
    background-color: #8cbf3f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}


@media (max-width: 575.98px) {
    .hamburger {
        display: block;
    }

    nav {
        width: 100%;
        height: 50px;
    }

    nav ul {
        width: 100%;
        margin: 0;
        padding: 0;
        z-index: 1;
    }

    nav ul li {
        clear: both;
        width: 100%;
    }

    nav ul li a {
        background-color: #8cbf3f;
        border-bottom: 1px solid #f2cc0f;
        width: 100%;
        padding: 25px 0;
    }

    .information {
        display: block;
        width: 100%;
    }

    .hamburger+ul {
        display: none;
    }

    .hamburger:hover+ul {
        display: block;
    }

    header #logo {
        width: 80px;
        height: 100px;
    }
}

@media (max-width: 767.98px) {
    .information {
        display: block;
        width: 100%;
    }
}

@media (max-width: 991.98px) {
    .information {
        display: block;
        width: 100%;
    }

    .information h2 {
        display: block;
    }
}