@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Henny+Penny&family=Pattaya&family=Roboto:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 375px;
    position: relative;
    top: 0;
    left: 0;
}

header #flowers {
    width: 100%;
    height: 375px;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
}

header #logo {
    width: 120px;
    height: 150px;
    float: left;
    position: absolute;
    top: 30px;
    left: 30px;
}

.hamburger {
    display: none;
}

nav {
    height: 10vh;
    font-family: 'Cinzel Decorative', cursive;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
    font-size: 1.1em;
}

nav ul li a {
    color: #f2f2f2;
    width: 18vw;
    text-decoration: none;
    text-align: center;
    padding: 25px 15px;
    display: flex;
    justify-content: center;
    float: left;
}

nav ul li a:hover {
    color: #f2cc0f;
}

.wrapper {
    width: 100%;
    background-color: #f2cc0f;
    padding: 5px 15px;
    margin-bottom: 30px;
}

.about {
    width: 65vw;
    margin: 15px auto;
    display: grid;
    grid-template-columns: repeat(3, 15vw, 25vw, 25vw);
}

.about h2 {
    font-family: 'Henny Penny', cursive;
    font-weight: 600;
    color: #691a72;
    text-align: center;
    font-size: 3rem;
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
}

.about p {
    text-align: center;
    grid-column: 2 / 4;
}

body h2 {
    text-align: center;
    font-family: 'Henny Penny', cursive;
    font-size: 3rem;
    color: #691a72;
}

.mobileContainer {
    display: none;
}

.carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

#carouselExampleDark {
    width: 45%;
}

.carousel-item img {
    width: 450px;
    height: 550px;
}

.carousel-caption h5 {
    color: #f2f2f2;
    font-size: 1.8rem;
    font-family: 'Henny Penny', cursive;
}

.carousel-caption p {
    color: #f2cc0f;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.sponsors {
    width: 100%;
    margin-top: 25px;
}

.sponsors h2 {
    text-align: center;
    font-family: 'Henny Penny', cursive;
    font-size: 3rem;
    color: #691a72;
}

.sponsors .sponsorsImages {
    background-color: #9453a6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sponsors .sponsorsImages a img {
    width: 7vw;
    border-radius: 40%;
    display: block;
    cursor: pointer;
}

footer {
    width: 100%;
    height: 60px;
    text-align: center;
    font-family: 'Roboto';
    background-color: #8cbf3f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}


@media (max-width: 575.98px) {
    .hamburger {
        display: block;
    }

    nav {
        width: 100%;
        height: 50px;
    }

    nav ul {
        width: 100%;
        margin: 0;
        padding: 0;
        z-index: 1;
    }

    nav ul li {
        clear: both;
        width: 100%;
    }

    nav ul li a {
        background-color: #8cbf3f;
        border-bottom: 1px solid #f2cc0f;
        width: 100%;
        padding: 25px 0;
    }

    .hamburger+ul {
        display: none;
    }

    .hamburger:hover+ul {
        display: block;
    }

    header #logo {
        width: 80px;
        height: 100px;
    }

    .about {
        display: block;
    }

    .mobileContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #mobilePic {
        display: block;
        width: 90%;
    }

    #carouselExampleDark {
        /* width: 95%; */
        display: none;
    }

    /* .carousel-item img {
        height: 300px;
    } */

    .sponsors .sponsorsImages {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .sponsors .sponsorsImages a img {
        width: 18vw;
    }
}

@media (max-width: 767.98px) {
    .about {
        display: block;
    }

    #carouselExampleDark {
        width: 90%;
    }

    .carousel-item img {
        height: 300px;
    }

    .sponsors .sponsorsImages {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .sponsors .sponsorsImages a img {
        width: 18vw;
    }
}

@media (max-width: 991.98px) {
    .about {
        display: block;
    }

    .about h2 {
        display: block;
    }

    #carouselExampleDark {
        width: 90%;
    }

    .carousel-item img {
        height: 400px;
    }

    .sponsors .sponsorsImages {
        display: grid;
        grid-template-columns: repeat(4, 115px);
    }

    .sponsors .sponsorsImages a img {
        width: 15vw;
    }
}

@media (max-width: 1199.98px) {
    #carouselExampleDark {
        width: 70%;
    }

    /*.sponsors .sponsorsImages a img {
        width: 110px;
    }*/
}
